@import "tailwindcss";

/* ── Variables de color ── */
:root {
  --ctf-coffe-bean:     #0a0006;
  --ctf-indigo:         #430464;
  --ctf-dark-magenta:   #940992;
  --ctf-shocking-pink:  #EF01BA;
  --ctf-harvest-orange: #F77200;
  --ctf-canary-yellow:  #FEF759;
  --ctf-lavender-mint:  #F4EDF2;
}

@theme {
  --font-display: var(--font-display);
  --font-heading: var(--font-heading);
  --font-mono:    var(--font-mono);
  --font-body:    var(--font-body);

  --color-background:   var(--ctf-coffe-bean);
  --color-purple-dark:  var(--ctf-indigo);
  --color-purple:       var(--ctf-dark-magenta);
  --color-pink:         var(--ctf-shocking-pink);
  --color-orange:       var(--ctf-harvest-orange);
  --color-yellow:       var(--ctf-canary-yellow);
  --color-white:        var(--ctf-lavender-mint);

  --animate-marquee: marquee 30s linear infinite;
  --ease-slot: cubic-bezier(1,0,1,0);
  --digit-height: 80px;

  @keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }  /* ✅ -100% para dos contenedores separados */
  }

}

@layer utilities {
  .digit-slot {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%
    );
  }
}

@layer base {
  html { scroll-behavior: smooth; -webkit-font-smoothing: antialiased; }

  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 { font-family: var(--font-heading); }
  code, pre, kbd          { font-family: var(--font-mono); }

  @media (prefers-reduced-motion: reduce) {
    .animate-marquee {
      animation: none;
    }
  }
}